
  body {
    background-color: black;
    color: white;
    text-align: center;
  }

  h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  img {
    border: 5px solid white;
    width: 100%;
  }

  #main {
    width: 50%;
    margin-left: 25%;
    margin-top: 130px;
  }
